.item{    
  display: flex;
  justify-content: space-between; 
  gap:.5rem;
  margin:0 0 1rem 0;
  background-color: var(--primary-color);
  padding:1rem;
  border-radius: 10px;  
  cursor:pointer;
}
.item:hover {
  opacity: .8;
}


/* ----------------------------- 
    
   STARTED MOBILE MODE FROM HERE 

   ----------------------------- */

@media (max-width: 1023px) {

.item{ flex-wrap: wrap;   }
 

}
